# IDE
.idea/
.vscode/
*.swp
*.swo

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv/
*.egg
*.egg-info/
dist/
build/
*.whl

# Django
*.log
db.sqlite3
db.sqlite4
*.sqlite3
*.sqlite
*.db

# Environment variables - НЕ ВЫКЛАДЫВАЕМ .env на GitHub
.env
.env.local
.env.*.local

# PostgreSQL
*.pgdata
*.pgdump

# Media files
media/
staticfiles/

# Coverage reports
.coverage
htmlcov/
.tox/
.coverage.*
coverage.xml

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pytest
.pytest_cache/

# OS
.DS_Store
Thumbs.db
Desktop.ini
